body
{
    padding-top: 60px;
    overflow: hidden;
}
h1 h2 h3 h4 h5 .lead { font-family: 'Droid Sans', sans-serif;}
/*Main Navbar*/
.navbar
{
    min-height: 60px;
    border:none;
}
/*Active Link*/
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus
{
    background-color: #d9534f;
}
/*Navbar Link*/
.navbar-inverse .navbar-nav > li > a
{
    color: #BBB;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 20px;
}
/*Brand Name*/
.navbar-inverse .navbar-brand
{
    color: #BBB;
    font-size: 30px;
    line-height: 35px;
}
.navbar-inverse .navbar-brand span
{
    color: #d9534f;
}
/*Dropdown Menu*/
.dropdown-menu
{
    background-color: #333;
    border-top: 2px solid ;
    min-width: 190px;
}
.navbar-right .dropdown-menu
{
    right: auto;
    left: 0;
}
.dropdown-menu > li > a
{
    color: #FFF;
    padding: 7px 20px;
    -webkit-transition:padding 1.5s ease;
    -moz-transition:padding 1.5s ease;
    -o-transition:padding 1.5s ease;
    transition:padding 1.5s ease;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus
{
    color: #FFF;
    padding-left: 30px;
}
.dropdown-menu .divider
{
    background-color: #842b2b;
}
/*Navbar Toggle*/
.navbar-toggle
{
    margin-top: 15px;
}
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a
{
    color: #FFF;
    padding: 7px 20px;
    font-size: 14px;
    -webkit-transition:padding 1.5s ease;
    -moz-transition:padding 1.5s ease;
    -o-transition:padding 1.5s ease;
    transition:padding 1.5s ease;
}
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover,
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus
{
    color: #FFF;
    padding-left: 30px;
}

/*Start carousel*/
.img-responsive, .thumbnail > img,
.thumbnail a > img, .carousel-inner > .item > img,
.carousel-inner > .item > a > img
{
    width: 100%;
    height: 600px;
}
.carousel-caption
{
    bottom: 70px;
    background-color: rgba(3,3,3,0.4);
    padding: 0 20px 0 20px ;
}
.carousel-indicators
{
    bottom: 0;
}
.carousel-indicators li
{
    height: 15px;
    width: 15px;
    border: 1px solid #BBB;
}
.carousel-indicators .active
{
    height: 17px;
    width: 17px;
}

/*End carousel*/
/*Start Tool Box*/
.option-box
{
    position: fixed;
    top: 100px;
    left: 0;
    z-index:9999;
}
.option-box .color-option
{
    background:#333;
    float:left;
    color:#FFF;
    padding:10px;
    width: 198px;
    display: none;
}
.option-box .color-option ul li
{
    width:20px;
    height: 20px;
    display: inline-block;
    margin-right: 5px;
    cursor: pointer;
}
.option-box .gear-check
{
    padding: 5px;
    color: #FFF;
    cursor: pointer;
}
/*End Tool Box*/
/*Start About*/
.about 
{
    padding-top: 30px;
    padding-bottom: 30px;
}
.about h1
{
    font-weight: bold;
}
.about h1 span
{
    color: #d9534f;
    
}
.about h3
{
    font-weight: bold;
}
.about h3 span
{
    color: #d9534f; 
}
.about .lead
{
    font-size: 20px;
    color: #BBB;
} 
.about h3 .lead
{
    font-size: 20px;
    color: #BBB;
}
.about .new-class
{
    font-size: 14px;
    color: #BBB;
}
/*Start About Me*/
.about-me .border-img
{
    height: 533px;
    width: 518px;
}
.about-me img
{
    width: 500px;
    height: 514px;
    border: 10px solid #FFF;
}
.about-me h2
{
    margin-block: auto;
    padding-bottom: 20px;
    font-weight: bold;
}
.about-me h2 span
{
    color: #d9534f;
}
.about-me .detels h4
{
    margin-bottom: 26px;
    font-weight: bold;
}
.about-me .detels P
{
    font-size: 19px;
    margin-top: 7px;
    margin-bottom: 20px;
}
.about-me button
{
    border:none;
}
/*End About Me*/
/*End About*/
/*Start Features*/
.features
{
    background-color: #eee;
    padding-top: 50px;
    padding-bottom: 50px;
    height: 580px;
    
}
.features .feat
{
    border:none;
    padding-bottom: 20px;
    background: #FFF;
    border-radius: 15px;
    box-shadow: 14px 14px 14px -4px #BBB;
}
.features h1
{
    font-weight: bold;
    margin-bottom: 50px;
}
.features h1 span
{
    color: #d9534f;
}
.features .feat p
{
    line-height: 1.5;
    font-size: 20px;
    color: #999;
    padding: 0 20px
}
.features .feat span
{
    font-size: 35px;
    padding-bottom: 10px;
    padding-top: 30px;
    font-weight: bold;
    color: #666
}
.features .feat h4
{
    padding-bottom: 10px;
    font-weight: bold;
}
/*End Features*/
/*Start testimonials*/
.testimonials
{
    padding-top: 50px;
    padding-bottom: 50px;
}
.testimonials h1
{
    margin-bottom: 20px;
    font-weight: bold;
}
.testimonials .lead
{
    line-height: 2em;
}
.testimonials span
{
    font-size: 18px;
    font-weight: bold;
}
.testimonials .carousel-inner
{
    min-height: 160px;
}
.testimonials .carousel-indicators
{
    position: static;
    width: 100%;
    margin-left: auto;
    padding-top: 15px;
}
.testimonials .carousel-indicators li
{
    text-indent: 0;
    width: 80px;
    height: 80px;
    border: 3px solid #fff;
    border-radius: 50%;
    opacity: 0.3;
    overflow: hidden;
    margin: 5px;
    -webkit-transition:all 2s ease;
    -moz-transition:all 2s ease;
    -o-transition:all 2s ease;
    transition:all 2s ease;
}
.testimonials .carousel-indicators .active
{
    width: 80px;
    height: 80px;
    opacity: 1;
    background: none;
}
.testimonials .carousel-indicators li img
{
    max-width: 100%;
}
/*End testimonials*/
/*start Price Tabel*/
.price-tabel
{
    background-color: #EEE;
    padding-top: 40px;
    padding-bottom: 40px;
}
.price-tabel h1
{
    margin-bottom: 40px;
    font-weight: bold;
}
.price-tabel .price-box
{
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #FFF;
    border-radius: 15px;
    margin-bottom: 15px;
    box-shadow: 14px 14px 14px -4px #999;
}
.price-tabel .price-box h2
{
    margin: 5px 0 15px;
    font-weight: bold;
}
.price-tabel .price-box:hover p
{
    border: 2px solid #DFDFDF;
    -webkit-transform: scale(1.1 , 1.1) rotate(360deg);
    -moz-transform: scale(1.1 , 1.1) rotate(360deg);
    -o-transform: scale(1.1 , 1.1) rotate(360deg);
    transform: scale(1.1 , 1.1) rotate(360deg);
}

.price-tabel .price-box p
{
    font-size: 35px;
    font-weight: bold;
    color: #666;
    background: #f3f3f3;
    width: 100px;
    height: 100px;
    line-height: 100px;
    border-radius: 50%;
    border: 2px solid #f3f3f3;
    -webkit-transition-duration: 0.7s;
    -moz-transition-duration: 0.7s;
    -o-transition-duration: 0.7s;
    transition-duration: 0.7s;
}
.price-tabel .price-box ul
{
    font-size: 20px;
    line-height: 200%;
    font-weight: bold;
}
.price-tabel .price-box a
{
    margin-bottom: 5px;
}
/*End Price Tabel*/
/*Start Our Team*/ 
.our-team
{
    background: url(../imges/back-ourteam.jpg) no-repeat center center fixed ;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    min-height: 400px;
}
.our-team .team
{
    background-color: rgba(2,.2,2,0.9);
    width: 100%;
    min-height: 400px;
    color: #FFF;
    padding-top: 40px;
    padding-bottom: 40px;
}
.our-team h1
{
    padding-top: 30px;
    padding-bottom: 60px;
}
.our-team .person
{
    margin-bottom: 40px;
}
.our-team .person img
{
    width: 150px;
    height: 150px;
    margin-bottom: 15px;
    filter: gray;
    -webkit-transition:all 0.5s ease-in-out;
    -moz-transition:all 0.5s ease-in-out;
    -o-transition:all 0.5s ease-in-out;
    transition:all 0.5s ease-in-out;
    -webkit-filter: grayscale(1);
    -moz-filter: grayscale(1);
    -o-filter: grayscale(1);
    filter: grayscale(1);
}
.our-team .person img:hover
{
    filter: none;
    -webkit-filter: grayscale(0);
    -moz-filter: grayscale(0);
    -o-filter: grayscale(0);
    filter: grayscale(0);
}
.our-team .person .lead
{
    font-size: 16px;
    line-height: 1.7;
}

/*End Our Team*/ 
/*Start Subscribe*/
.subscribe
{
    padding-top: 40px;
    padding-bottom: 70px;
    background-color: #EEE;
}
.subscribe h1
{
    color: #888;
    letter-spacing: 2px;
    margin-bottom: 20px;
}
.subscribe p
{
    margin-bottom: 30px;
}
.subscribe .form-control
{
    border-radius: 0;
    margin-right: -5px;
    width: 300px;
}
.subscribe button
{
    border-radius: 0;
}
.subscribe .form-moob .form-control
{
    
    border-radius: 0;
    margin-right: -5px;
    width: 250px;
    display: inline;
}
.subscribe .form-moob button
{
    border-radius: 0;
    font-size: 14px;
    vertical-align: top;
    height: 33px;
}
/*End Subscribe*/
/*Start statistics*/
.statistics
{
    background: url(../imges/stats.webp) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 400px;
    color: #B6B5B5;
}
.statistics .data
{
    background: rgba(2,.2,2,0.9);
    min-height: 400px;
    padding-top: 40px;
    padding-bottom: 40px;
}
.statistics .stat
{
    -webkit-transition:all 0.5s ease-in-out;
    -moz-transition:all 0.5s ease-in-out;
    -o-transition:all 0.5s ease-in-out;
    transition:all 0.5s ease-in-out;
    margin-bottom: 40px;
}
.statistics .stat:hover
{
    color: #FFF;
}
.statistics h1
{
    font-weight: bold;
    margin-bottom: 60px;
}
.statistics p
{
    font-size: 35px;
    font-weight: bold;
    margin-top: 5spx;
    margin-bottom: 0;
}

/*End statistics*/
/*Start Our sklls*/
.our-sklls
{
    padding-top: 40px;
    padding-bottom: 60px;
}
.our-sklls h1 {margin-bottom: 70px; font-weight: bold;}
.our-sklls h3 {font-weight: bold; margin-top: 0;}
.our-sklls .progress {height: 37px;}
.our-sklls .progress-bar
{
    line-height: 40px;
    font-weight: bold;
    font-size: 16px;
    text-align: left;
    text-indent: 15px;
}
/*End Our sklls*/
/*Start Contact Us*/
.contact-us
{
    background: url(../imges/contactus.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 400px;
    color: #B6B5B5;
}
.contact-us .fildes
{
    background: rgba(2,.2,2,0.9);
    min-height: 400px;
    color:#DDD;
    padding-top: 40px;
    padding-bottom: 40px;
}
.contact-us h1 {font-weight: bold;}
.contact-us p {margin-bottom: 40px;}
.contact-us textarea {height: 107px;}
.contact-us input[type="text"],
.contact-us textarea
{
    background: rgba(82, 78, 78, 0.4);
    color: #FFF;
    border: none;
}
/*End Contact Us*/
/*Start Clintes*/
.our-clinets
{
    background: #DDD;
    padding-top: 10px;
    padding-bottom: 10px;
}
.our-clinets img
{
    opacity: 0.2;
    filter: alpha(opacity=20);
    width: 100%;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    -webkit-transition:all 1s ease-in-out;
    -moz-transition:all 1s ease-in-out;
    -o-transition:all 1s ease-in-out;
    transition:all 1s ease-in-out;
}
.our-clinets img:hover
{
    opacity: 1;
}
/*End Clintes*/
/*Start Footer*/
.footer
{
    background: #111;
    color: #AAA;
    padding-top: 20px;
}
.footer a {color: #AAA;}
.footer a:hover {color: #FFF;}
.footer h3
{
    letter-spacing: 1px;
    margin-top: 30px 0 20px;
}
.footer .three-col { overflow: hidden;}
.footer .three-col li
{
    width: 44.3333%;
    float: left;
    margin: 10px 0;
}
.footer .social-icone img
{
    border-radius: 50%;
    width: 50px;
    height: 50px
}
.footer .social-icone img
{
    overflow: hidden;
    margin: 20px 0 10px;
}
.footer .social-icone img
{
    float: left;
    margin: 5px 3px 5px 0;
    opacity: 0.4;
    filter: alpha(opacity=40);
    -webkit-transition:all 0.5s ease-in-out;
    -moz-transition:all 0.5s ease-in-out;
    -o-transition:all 0.5s ease-in-out;
    transition:all 0.5s ease-in-out;
}
.footer .social-icone img:hover
{
    opacity: 1;
}
.footer .media-object
{
    width: 60px;
    height: 60px;
    border-radius: 5px;
    opacity: 0.4;
    filter: alpha(opacity=40);
    -webkit-transition:all 0.5s ease-in-out;
    -moz-transition:all 0.5s ease-in-out;
    -o-transition:all 0.5s ease-in-out;
    transition:all 0.5s ease-in-out;
    
}
.footer .media-object:hover
{
    opacity: 1;
}
.footer .our-awesome img
{
    border: 1px solid #666;
    width: 136px;
    height: 106px;
    margin: 2px;
    opacity: 0.4;
    filter: alpha(opacity=40);
    -webkit-transition:all 0.5s ease-in-out;
    -moz-transition:all 0.5s ease-in-out;
    -o-transition:all 0.5s ease-in-out;
    transition:all 0.5s ease-in-out;
}
.footer .our-awesome img:hover
{
    opacity: 1;
}
.footer .copyright
{
    background: #333;
    color: #AAA;
    padding: 15px 0;
    margin-top: 20px;
}

/*End Footer*/
/* Start Loading */
.loading-overlay
{
    background: #222;
    color: #fff;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
}
/* .spinner {
    width: 60px;
    height: 60px;
    background-color: #E41B17;
  
    margin: 400px auto;
    -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
    animation: sk-rotateplane 1.2s infinite ease-in-out;
  }
  
  @-webkit-keyframes sk-rotateplane {
    0% { -webkit-transform: perspective(120px) }
    50% { -webkit-transform: perspective(120px) rotateY(180deg) }
    100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
  }
  
  @keyframes sk-rotateplane {
    0% { 
      transform: perspective(120px) rotateX(0deg) rotateY(0deg);
      -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg) 
    } 50% { 
      transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
      -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg) 
    } 100% { 
      transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
      -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    }
  } */
  .spinner {
    width: 80px;
    height: 80px;
    position: relative;
    margin: 400px auto;
  }
  
  .double-bounce1, .double-bounce2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #E41B17;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
    
    -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
    animation: sk-bounce 2.0s infinite ease-in-out;
  }
  
  .double-bounce2 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
  }
  
  @-webkit-keyframes sk-bounce {
    0%, 100% { -webkit-transform: scale(0.0) }
    50% { -webkit-transform: scale(1.0) }
  }
  
  @keyframes sk-bounce {
    0%, 100% { 
      transform: scale(0.0);
      -webkit-transform: scale(0.0);
    } 50% { 
      transform: scale(1.0);
      -webkit-transform: scale(1.0);
    }
  }
/* End Loading */
/* Start Scroii Top */
#scroll-top
{
    width: 70px;
    height: 65px;
    line-height: 90px;
    border-radius: 50%;
    background-color: rgba(526,52,25,0.4);
    color: #FFF;
    text-align: center;
    position: fixed;
    right: 50px;
    bottom: 50px;
    z-index: 9999;
    cursor: pointer;
    display: none;

    -webkit-transition:all 0.5s ease-in-out;
    -moz-transition:all 0.5s ease-in-out;
    -o-transition:all 0.5s ease-in-out;
    transition:all 0.5s ease-in-out;
}
#scroll-top:hover
{
    background-color: #E41B17;
}
/* End Scroii Top */
